body{
    font-family: 'Montserrat';
}
#title {
    background-color: #ff4c68;
    color:white;
  }

h1 {  font-family: 'Montserrat';  font-size: 3rem;  line-height: 1.5;  font-weight: 900;}
.container-fluid{
    padding: 3% 15%;
}

h2{
    font-family: 'Montserrat-bold'; font-size: 2rem; line-height: 1.5;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 3.5rem;
}

.navbar{
    padding-bottom: 10%;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

.login{
    margin: 0 auto;
}
/***************************************/

.modal{
    color: black;
    text-align: left;
}






.titleimg{
    max-width: 60%;
    height: auto;
    transform: rotate(25deg);
}

@media (max-width: 1028px) {

    #title {
      text-align: center;
    }
  
    .titleimg {
      position: static;
      transform: rotate(0);
    }

    .nav-link{
        font-size: 1.2rem;
        font-family: 'Montserrat-light';
        text-align: right;
    }

    .press-logo{
        max-width: 70%;
        text-align: center;
        margin: 1%;
    }
    .press-row{
        text-align: center;
        display: block;
        max-width: 80%;
        margin: 10%;
    }
  }
  

.download-btn{
    margin: 5% 3% 10% 0%;
}

#features{
    padding: 10%;
    text-align: center;
}

.feature1{
    text-align: center;
    font-family:'Montserrat';
    font-size: 16px;
}

.fa-heart:hover{
    color:#f7533e;
}

.fa-circle-check:hover{
    color:#f7533e;
}

.fa-bullseye:hover{
    color:#f7533e;
}

.fa-heart{
    color:#ef8172;
    font-size: 62px;
    padding-bottom: 10px;
}
.fa-bullseye{
    color:#ef8172;
    font-size: 62px;
    padding-bottom: 10px;

}
.fa-circle-check{
    color:#ef8172;
    font-size: 62px;
    padding-bottom: 10px;
}




#testimonials{
    padding: 2% 6%;
    text-align: center;
    background-color: #ff4c68;
    color:#fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    /* margin: 10%; */
}

#press{
    background-color: #ff4c68;
}

.press{
    width: auto;
    height: auto;
    padding: 10px 10px 10px 10px;
    }

.press-logo{
    width: auto;
    padding:5%
}

#pricing{
    padding: 70px;
}

.pricing-text-head{
    font-size: 3rem;
    font-family: "Montserrat-light";
    font-weight: lighter;
    text-align: center;
    font-size: 4rem;
}

.pricing-text-body{
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
}

.pricing-text{
    padding: 0px;
}
.card{
    text-align: center;
    size: 10em;
}

.card-footer{
    background-color: white;
    border: none;
}
.card-footer-btn{
    width: 100%;
    background-color: #fff;
    color: black;
}
.card-footer-btn:hover{
    background-color: black;
    color: white;
}


.pricing-column{
    padding: 3% 2%;
}

#cta{
    background-color:#ff4c68 ;
    color:white;
    text-align: center;
}

.cta-header{
    text-align: center;
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    padding: 1em;
}

.footer-btn{
    padding: 10px;
    display: inline-block;
}

#footer{
    padding: 5em;
    text-align: center;
    font-family: "Montserrat-light";
    color:grey;
    font-size: 1.5em;
}
.footer-icon{
    padding: 1em;
    color: black;
}
.fi{
    padding-right: 0.5em;
    color: black;
}

.footer-text{
    font-size: 17px;
}

.fa-eye{
    margin-left:-22px;
    margin-top: 10px;
    z-index: 999;
    cursor: pointer;
}




